@import "tailwindcss";

@keyframes grow-shrink {
    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
}

.animate-grow-shrink {
    animation: grow-shrink 2s ease-in-out infinite;
}
